* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#app {
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: #f7f9fc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0b1e40;
	font-family: 'Roboto', sans-serif;
}
